<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"><head>
    <meta charset="UTF-8">
    <title>Mediscreen</title>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/5.2.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>

<div class="container">
    <header>
        <ul>
            <li>
                <a href="/patients">Liste des patients</a>
            </li>
            <li>
                <a href="/patients/add">Ajouter un patient</a>
            </li>
        </ul>
    </header>
    <h1>Mediscreen</h1>
</div>
<script type="text/javascript" src="webjars/bootstrap/5.2.2/js/bootstrap.min.js"></script>
</body>
</html>