<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"><head>
    <meta charset="UTF-8">
    <title>Mediscreen | Mise à jour</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/5.2.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>

<div class="container">
    <h1>Fiche patient</h1>
            <div class="patient">
                <p>
                    <strong>Lastname: </strong>
                    <span th:text="${patient.lastname}"></span>
                </p>
                <p>
                    <strong>Firstname: </strong>
                    <span th:text="${patient.firstname}"></span>
                </p>
                <p>
                    <strong>Birthdate: </strong>
                    <span th:text="${patient.birth}"></span>
                </p>
                <p>
                    <strong>Gender: </strong>
                    <span th:text="${patient.gender}"></span>
                </p>
                <p>
                    <strong>Address</strong>
                    <span th:text="${patient.address}"></span>
                </p>
                <p>
                    <strong>Phone number</strong>
                    <span th:text="${patient.phone}"></span>
                </p>
                <a th:href="@{/patients}" th:method="get" class="btn btn-primary">Retour</a>
            </div>
</div>
<script type="text/javascript" src="webjars/bootstrap/5.2.2/js/bootstrap.min.js"></script>
</body>
</html>